body {
    text-align: center;
    background-color: black;
}



.required_grid {
    display: grid;
    grid-template-columns: 40px 40px 40px;
    grid-template-rows:    40px 40px 40px;
    /* grid-template-columns: repeat(3, 100px); */
    /* grid-template-rows: repeat (3, 100px ); */
    grid-gap: 0px;
    /* align-content: center; */
    justify-content: center;

}

.box {
    align-items: center;
    align-content: center;
    background-color: black;
    /* border: 3px solid gray; */
    margin: 1px;
    padding: 5px;
    size: 5px 5px;
}
#scoretab{
    position: absolute;
    top: 100px;
    right: 500px;
    font-size: 45px;
    font-weight: bold;
    color: white;
}

#timer{
    color: white;
    position: absolute;
    top: 100px;
    right: 850px;
    font-size: 50px;
}
/* #uwin
{
    background-color: white;
    opacity: 30%;
    font-size: large;
} */


.solve {
    display: grid;
    grid-template-columns: 45px 45px 45px 45px 45px;
    grid-template-rows:    45px 45px 45px 45px 45px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    grid-gap: 2px;
    background-color: gray;
    width: 260px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 7px;
    
    /* background-position-x: center; */
    /* width: 270px; */
}
#main{
    background-color: 2px black;
    height: 30px;
    width: 30px;
    border-bottom: 5px solid black;
    border-top:    5px solid black;
    border-left:   5px solid black;
    border-right:  5px solid black;
    border-width: 3px;
    border-radius: 2px;
    /* height: 150px; */
    
}

/* .reqs{
    background-color: white;
    top: 1px;
    margin: auto;
    right: 700px;
    height: 150px;
    width: 150px;
} */

.sbox {
    align-items: center;
    align-content: center;
    background-color: black;
    /* border: 2px solid black; */
    margin: 1px;
    padding: 5px;
}


h1 {
    color: white;
    text-align: center;
}

button {
    size: 8px;
    background-color: red;
    border: 2px solid black;
    padding: 10px 13px;
    cursor: pointer;
    border-radius: 5px;
}